---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}

    <div class="card mb-3" >
      <div class="card-body">
        {% include feature/jumbotron.html objectid="/objects/01-seki.jpg" heading="MAPS 2015" text=false %}
        <a href="#" class="btn btn-primary">Browse Collection</a>
      </div>
    </div>

    <div class="card mb-3" >
      <div class="card-body">
        {% include feature/jumbotron.html objectid="/objects/02-muroya.jpg" heading="MAPS 2016" text=false %}
        <a href="#" class="btn btn-primary">Browse Collection</a>
      </div>
    </div> 

    <div class="card mb-3" >
      <div class="card-body">
        {% include feature/jumbotron.html objectid="/objects/03-gorvett.jpg" heading="MAPS 2017" text=false %}
        <a href="#" class="btn btn-primary">Browse Collection</a>
      </div>
    </div> 

    <div class="card mb-3" >
      <div class="card-body">
        {% include feature/jumbotron.html objectid="/objects/04-lilleston.jpg" heading="MAPS 2018" text=false %}
        <a href="#" class="btn btn-primary">Browse Collection</a>
      </div>
    </div> 
  <div class="">

    {% include index/data-download.html %}

  </div>

</div>