---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}

    <div class="card mb-3" >
      <div class="card-body">
        {% include feature/jumbotron.html objectid="/objects/01-yagihashi.jpg" heading="MAPS 2015" text=false %}
        <a href="#" class="btn btn-primary">Browse Collection</a>
      </div>
    </div>

    <div class="card mb-3" >
      <div class="card-body">
        {% include feature/jumbotron.html objectid="/objects/02-muroya.jpg" heading="MAPS 2016" text=false %}
        <a href="#" class="btn btn-primary">Browse Collection</a>
      </div>
    </div> 

    <div class="card mb-3" >
      <div class="card-body">
        {% include feature/jumbotron.html objectid="/objects/03-badger.jpg" heading="MAPS 2017" text=false %}
        <a href="#" class="btn btn-primary">Browse Collection</a>
      </div>
    </div> 

    <div class="card mb-3" >
      <div class="card-body">
        {% include feature/jumbotron.html objectid="/objects/04-shimazu.jpg" heading="MAPS 2018" text=false %}
        <a href="#" class="btn btn-primary">Browse Collection</a>
      </div>
    </div> 

    <div class="card mb-3" >
      <div class="card-body">
        {% include feature/jumbotron.html objectid="/objects/05-harmon.jpg" heading="MAPS 2019" text=false %}
        <a href="#" class="btn btn-primary">Browse Collection</a>
      </div>
    </div> 

  <div class="">

    {% include index/data-download.html %}

  </div>

</div>