{% comment %}

    Adds button links for compound object parent item page. 
    If item has date to Timeline, if item has lat/long to Map, if item has child objects with object_location it adds Download options for each.
    Styled as a Bootstrap btn-group.

{%- endcomment -%}
<div class="btn-group my-3" role="group" aria-label="Item options">

    {% if page.latitude and page.longitude %}
    <a href="{{ '/map.html?location=' | append: page.latitude  | append: ',' | append: page.longitude | append: '&marker=' | append: page.objectid | relative_url }}" class="btn btn-outline-primary">View on Map</a>
    </div>
</div>